body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    background: url('https://via.placeholder.com/1500') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: #4CAF50;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
    backdrop-filter: blur(10px);
}

.how-to-section, .js-explanation-section {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: left;
    margin: 20px auto;
    animation: fadeIn 1s ease-in-out;
}

.how-to-section h2, .js-explanation-section h2 {
    color: #4CAF50;
    font-size: 24px;
    margin-bottom: 20px;
}

.how-to-section p, .how-to-section ol, .js-explanation-section p, .js-explanation-section ol {
    color: #333;
    font-size: 16px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

input[type="file"], input[type="number"], select {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 12px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.image-preview {
    max-width: 150px;
    max-height: 150px;
    margin: 20px auto;
    overflow: hidden;
    display: inline-block;
}

.image-preview img {
    width: 100%;
    height: auto;
}

.info {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.output, .resize-section {
    margin-top: 20px;
}

.resize-section input, .resize-section select {
    font-size: 16px;
}

.resize-section label {
    font-size: 16px;
    color: #4CAF50;
}

.result {
    display: none;
}
